<body><app-navbar></app-navbar>
<router-outlet></router-outlet>
</body>
<!-- <div class="container">
  <div *ngFor="let category of getCategories()" class="category-section">
    <h2>{{ category }}</h2>
    <div class="row m-5">
      <div *ngFor="let item of getProductsByCategory(category)" class="col">
        <app-cards [myItem]="item" (myEvent)="HandleButton($event)"></app-cards>
      </div>
    </div>
  </div>
</div> -->

<!-- @if(this.api.isAdmin()){
  <h1>Hello I am admin</h1>
 }
 @else {
  <p>Not Authorised</p>
 } -->