/* You can add global styles to this file, and also import other style files */
::-webkit-scrollbar {
    width: 8px;
    background-color: rgb(189, 175, 175);
}

::-webkit-scrollbar-thumb {
    background-color: #342244;
    border-radius: .25rem;
}